{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>
        {% block title %}
        Rapid Prototypes
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel='stylesheet' href="{% static 'css/site.css' %}" >
</head>
<body>
<body id="{% block body-id %}body{% endblock %}"></body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="navbar navbar-expand-lg " role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Rapid Prototypes</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li {% if slug == 'index' %}class="active"{% endif %}>
                    <a href="/">Home</a>
                </li>
                <li {% if slug == 'contact' %}class="active"{% endif %}>
                    <a href="{% url 'page' 'contact' %}">Contact</a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li {% if slug == 'pricing' %}class="active"{% endif %}>
                    <a href="{% url 'page' 'pricing' %}">Pricing</a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li {% if slug == 'login' %}class="active"{% endif %}>
                    <a href="{% url 'page' 'login' %}">Login</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</nav>
    {% block content %}
        <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% endblock %}
</body>
</html>

